<div id="options1">


    <div id="optl1">
        <div> <a href="./home" id="a1">CITY TEMPO</a></div>

        <div><a href="./packers&movers" id="a2">PACKERES & MOVERS</a></div>
        <div><a href="./driver&Partner" id="a3">DRIVE PARTNERS</a></div>

        <div><a href="./forEnterprise" id="a4">FOR ENTERPRISE </a></div>
    </div>
    <div id="optr1">
        <div id="support"><a href="">Support</a></div>
        <div><button data-modal-target="#modalp" id="order">Track Order</button></div>
    </div>




</div>`